// .cashier-fee-list li, .cashier-fee-list-right li
$cashier-fee-list--border-bottom: 1px $divider-light solid;

// .show-payment-msg .mbox-msg-container
$show-payment-msg-mbox-msg-container--height: calc(100dvh - 40px) !important;

// .cashier-help-table h3
$cashier-help-table-h3--color: $neutral-900;

// .cashier-help-table td
$cashier-help-table-td--color: $neutral-700;

// .privacy-confirmation-content
$privacy-confirmation-content--border: none;

